<section class="hero is-medium is-primary is-bold is-fullheight" id="landing">
  <div class="hero-content">
    <div class="container">
      <img class='site-logo' src="/assets/syncline-hero-logo.png">
      <h2 class="subtitle is-3">
        Join the Beta and start modernizing your data collection
      </h2>
      <a class="button is-primary is-outlined is-inverted is-large" href="/users/new">Signup</a>
      <!-- LOGIN -->
      <div id="login">
        <%= form_tag session_path do %>
        <div class="column is-half is-offset-quarter">
          <hr color="white">
          <p class="control has-icon">
            <input class="input" name="email" type="email" placeholder="Email">
            <i class="fa fa-envelope"></i>
          </p>
          <p class="control has-icon ">
            <input class="input" name="password" type="password" placeholder="Password">
            <i class="fa fa-lock"></i>
          </p>
          <p class="control is-flex">
            <button class="button is-primary is-outlined is-inverted is-large">
              Log in
            </button>
          </p>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id='tagline'>
  <div class="container">
    <p class='tagline-msg is-centered'>A tool aimed at geotechnical engineers to streamline the process of collecting and reviewing site investigation information.</p>
  </div>
</section>

<section id="features" class='page-body'>
  <div class="container">
    <div class="columns is-multiline">
      <!-- start -->

      <div class="column is-4 animation" id="mapAnimation">
        <i class="pin" class="pin1"></i>
        <i class="pin" class="pin2"></i>
        <i class="pin" class="pin3"></i>
        <div id="map"></div>
      </div>
      
      <div class="is-flex column is-8">
          <p class='feature-description'>
            Syncline makes managing site data simple. Project managers can easily create projects and collaborate with contractors and engineers.
          </p>
      </div>
      
      <div class="is-flex column is-8">
          <p class='feature-description is-text-right'>
            Instant analytics built from site data. Analyze and export graphical data and drill hole logs.
          </p>
      </div>

      <div id="graphAnimation" class="column is-4 animation is-flex">
        <div id="graph">
            <div class="barContainer"><div class="bar"></div></div>
            <div class="barContainer"><div class="bar"></div></div>
            <div class="barContainer"><div class="bar"></div></div>
            <div class="barContainer"><div class="bar"></div></div>
        </div>
      </div>

      <div id="inputAnimation" class="column is-4 animation">
        <div id="page">
          <hr color="black">
          <hr color="black">
          <hr color="black">
          <div class="row"></div>
          <div class="row"></div>
          <div class="row" id="one"></div>
          <div class="row" id="two"></div>
        </div>
      </div>

      <div class="is-flex column is-8">
          <p class='feature-description'>
            Entering drill hole data has never been simpler. Drill hole reports can be created and edited with ease.
          </div>
        </div>
      </div>

    <!-- end -->
    </div>
  </div>
</div>
</section>
