<section class="hero is-medium is-primary is-bold" id="landing">
  <div class="hero-content">
    <div class="container">
      <!-- <img class='site-logo' src="/assets/syncline-logo-alpha.png"> -->
      <img class='site-logo' src="/assets/logo-grad.png">
      <h1 class="title">
        Syncline
      </h1>
      <h2 class="subtitle">
        A tool aimed at geotechnical engineers to streamline the process of collecting and reviewing site investigation information.
      </h2>
      <a class="button is-primary is-outlined is-inverted" href="/users/new">Join the beta</a>
      <!-- LOGIN -->
      <div id="login">
        <%= form_tag session_path do %>
        <div class="column is-half is-offset-quarter">
          <hr color="white">
          <p class="control has-icon">
            <input class="input" name="email" type="email" placeholder="Email">
            <i class="fa fa-envelope"></i>
          </p>
          <p class="control has-icon ">
            <input class="input" name="password" type="password" placeholder="Password">
            <i class="fa fa-lock"></i>
          </p>
          <p class="control is-flex">
            <button class="button is-primary is-outlined is-inverted">
              Log in
            </button>
          </p>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4 animation" id="mapAnimation">
        <i class="pin" class="pin1"></i>
        <i class="pin" class="pin2"></i>
        <i class="pin" class="pin3"></i>
        <div id="map"></div>
      </div>
      <div class="is-flex column is-8">
        <div class="message is-info">
          <div class="message-body">
            Syncline makes managing site data simple. Project managers can easily create projects and collaborate with contractors and engineers.
          </div>
        </div>
      </div>
      <div class="is-flex column is-8">
        <div class="message is-info">
          <div class="message-body">
            Entering drill hole data has never been simpler. Drill hole reports can be created and edited with ease.
          </div>
        </div>
      </div>
    <div id="inputAnimation" class="column is-4 animation">
      Graph of form with text entering, shuffling rows
    </div>
    <div id="graphAnimation" class="column is-4 animation is-flex">
      <div id="graph">
        <div id="barContainer">
          <div id="xAxis"></div>
          <div id="yAxis"></div>
          <div id="mask"></div>
          <div class="bar" id="bar1"></div>
          <div class="bar" id="bar2"></div>
          <div class="bar" id="bar3"></div>
          <div class="bar" id="bar4"></div>
        </div>
      </div>
    </div>
    <div class="is-flex column is-8">
      <div class="message is-info">
        <div class="message-body">
          Instant analytics built from site data. Analyze and export graphical data and drill hole logs.
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
