<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @drill_hole.name %> has been reviewed by <%= @drill_hole.reviewed_by %></h1>
    <p>
      <%= @drill_hole.name %> logs have been successfully reviewed by
      <%= @drill_hole.reviewed_by %>.
    </p>
    <p>
      Follow this link: http//syncline.ca.
    </p>
    <p>Thanks for being a part of this project and have a great day!</p>
  </body>
</html>