<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Review for <%= @drill_hole.name %> has been started by <%= User.find(@drill_hole.reviewed_by_id).first_name %>.</h1>
    <p>Thanks for being a part of this project and have a great day!</p>
  </body>
</html>