<article class='page-body content'>
  <header class='page-header'>
    <h1 class='title'>Drill Hole Name</h1>
  </header>

  <section class='section drill-log'>
    <form class='columns'>
      <div class="column">
        <p class="control">
          <label class='label' for='logged-by'>Logged By</label>  
          <input class='input' type='text' name='logged-by' id='logged-by' ></input>
        </p>

        <p class="control">
          <label class="label">Location</label>
          <input class="input" type='text'></input>
        </p>

        <p class="control">
          <label class="label">Latitude</label>
          <input class='input' type='text'></input>
        </p>

        <p class='control'>
          <label class='label'>Longitude</label>
          <input class="input" type='text'></input>
        </p>

        <p class="control">
          <label class="label">Ground Elevation</label>
          <input class="input" type='number'></input>
        </p>

        <p class="control">
          <label class="label">Final Depth</label>
          <input class="input" type='number'></input>
        </p>
      </div>

      <div class="column">
        <h3>Water Levels</h3>
        <p class="control">
          <label class="label">At Start</label>
          <input class='input' type='number'></input>
        </p>

        <p class="control">
          <label class="label">At End</label>
          <input class="input"></input>
        </p>

        <p class="control">
          <label class="label">After</label>
          <input class="input"></input>
        </p>

        <hr>

        <p class="control">
          <label class="label">Hole Size</label>
          <input class="input"></input>
        </p>  

        <p class="control">
          <label class="label">Method</label>
          <input class='input'></input>
        </p>
      </div>
    </form>

    <button>Submit</button>
    <button>Mark as Reviewed</button>
  </section>

  <section id='layers-log' class='section layers-log'>
    <header class='log-header columns is-1'>
      <div class="log-column-title column">
        <p>Depth</p>
      </div>

      <div class="log-column-title column is-1">
        <p>Graphic Log</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Description</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                        
    </header>

    <!-- LAYER -->

    <div class="layer columns" data-height='1'>
      <div class="log-column-title column is-1 layer-height">
        <p>1</p>
      </div>

      <div class="log-column-title column is-1 gl gl-sand">
        <p>Sand</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Loose, gritty particles of eroded or weathered rock, varying in size from about mm to 2 mm in diameter, usually deposited along the shores of bodies of water, in riverbeds, or in deserts.</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                     
    </div>

    <!-- LAYER -->

    <div class="layer columns" data-height='2'>
      <div class="log-column-title column is-1 layer-height">
        <p>2</p>
      </div>

      <div class="log-column-title column is-1 gl gl-gravel">
        <p>Stone</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Loose, gritty particles of eroded or weathered rock, varying in size from about mm to 2 mm in diameter, usually deposited along the shores of bodies of water, in riverbeds, or in deserts.</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                     
    </div>

    <!-- LAYER -->

    <div class="layer columns" data-height='1.5'>
      <div class="log-column-title column is-1 layer-height">
        <p>1.5</p>
      </div>

      <div class="log-column-title column is-1 gl gl-clay">
        <p>Sand</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Loose, gritty particles of eroded or weathered rock, varying in size from about mm to 2 mm in diameter, usually deposited along the shores of bodies of water, in riverbeds, or in deserts.</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                     
    </div>

    <!-- LAYER -->

    <div class="layer columns" data-height='2.5'>
      <div class="log-column-title column is-1 layer-height">
        <p>2.5</p>
      </div>

      <div class="log-column-title column is-1 gl gl-silt">
        <p>Sand</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Loose, gritty particles of eroded or weathered rock, varying in size from about mm to 2 mm in diameter, usually deposited along the shores of bodies of water, in riverbeds, or in deserts.</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                     
    </div>

    <!-- LAYER -->

    <div class="layer columns" data-height='1'>
      <div class="log-column-title column is-1 layer-height">
        <p>1</p>
      </div>

      <div class="log-column-title column is-1 gl gl-gravel">
        <p>Sand</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Loose, gritty particles of eroded or weathered rock, varying in size from about mm to 2 mm in diameter, usually deposited along the shores of bodies of water, in riverbeds, or in deserts.</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                     
    </div>            
  </section>

  <section class='section layer-new'>
    <h2>New Layer</h2>
    <form class='columns'>
      <div class="column is-4">
        <p class="control">
          <label class='label'>depth</label>
          <input class='input' type='number'></input>
        </p>

        <p class="control">
          <label class="label">Graphic Log</label>
          <input class="input" type='select'></input>
        </p>

        <p class="control">
          <label class="label">Sample Type</label>
          <input class="input"></input>
        </p>

        <p class="control">
          <label class="label">Blow Count</label>
          <input class="input"></input>
        </p>
      </div>

      <div class="column is-8">
        <p class="control">
          <label class="label">Description</label>
          <textarea></textarea>
        </p>

        <button>Submit</button>
      </div>
    </form>
  </section>
</article>