.button-full {
  width: 100%;
}

.site-submit-button, .dh-submit-button {
  margin-left: 150px;
}

@media (min-width: 960px) {
  .add-layer {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}

/* Tab Buttons */

.tabs li + li {
  margin-top: 0;
}

ul#layer-tabs {
  margin: 0;
}