.new-site-card {
  background: rgba(200,200,200,.5);
  border-style: dashed;
  border-width: 3px;
  height: 280px;
  position: absolute;
  width: 93%;
}

.card {
  box-shadow: none;
}

@media screen and (max-width: 769px) {

  .column.new-site {
    height: 300px;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 769px) {
  .card {
    max-width: 300px;
    padding: 0;
  }

  .new-site-card {
    height: 97%;
    width: 93%;
  }
}