html {
  background-color: white;
}

.container.pdf {
  margin-top: 10px;
}

#drill-hole-pdf h2 {
  font-size: 25px;
  font-weight: 400;
  display: inline-block;
  float: left;
}

#drill-hole-pdf h3 {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  float: right;
  margin: 10px;
}

.container.pdf-form-details {
  clear: both;
}