.layers-log {
  position: relative;
}

.layer-height {
  /*background-image: repeating-linear-gradient(0deg, #aaa, #aaa 25px, #eee 25px, #eee 50px);*/
  /*border-left: thin solid #ddd;*/
}

.gl p {
  display: none;
}

.gl-Sand {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC);
}

.gl-Gravel {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQYV2NkIAIwEqHmPyFF/xkYGBgJKQJbhEsR2ASYU7ApQlGAzyQU/yCbhGECunU4FYAUAgBp4wYJDzYgLgAAAABJRU5ErkJggg==);
}

.gl-Silt {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQYV42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+CgiQkAMbAAAAAElFTkSuQmCC);
}

.gl-Clay {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==);
}

.layers-log.columns .layer {
  margin: 0;
}

.layers-log {
  margin-top: 10px;
}

.layers-log .columns {
  margin-left: 0;
  margin-right: 0;
}

.layer {
  border-bottom: thin solid #333;
}

.layers-header {
  border-bottom: thick solid #333;
  padding-bottom: .5em;
}

#layer-rules {

}

#layer-rules ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  transform: translateX(-30px);  
  list-style: none;
  margin: 0;
}

#layer-rules li {
  border-right: thin solid #ddd;
  dislay: block;
  font-size: .75em;
  width: 30px;
  height: 25px;
  border-bottom: 1px solid #333;
  margin: 0;
  padding: 0;
}

#layer-rules li p {
  padding-left: 2px;
}

#layer-rules li:nth-child(2n) {
  background-color: #f6f6f6;
}

#layer-rules li:nth-child(2n) p {
  opacity: 0;
}