#fixedHeaderSpacer{
  display: none;
  height:50px;
}
.layers-header{
  height:60px;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
}
.layers-log {
  position: relative;
}

.layer-data {
  border-left: 5px solid #444;
  position: absolute;
  top: 0;
  right: 0;
}

.log-column-depth {
  position: relative;
  height: inherit;
  text-align: center;
  white-space: nowrap;
}

.log-column-depth:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.log-column-data {
  position: relative;
}

.col-centered {
  position: relative;
  background-color: #333;
  border-radius: 4px;
  color: #eee;
  padding: 2px 5px;
  display: inline-block;
  vertical-align: middle;
  z-index: 5;
}

/* Layer depth indicator */

.depth-indicator {
  position: absolute;
  top: 0px;
  left: 40px;
  height: inherit;
}

.depth-arrow {
  font-size: 4em;
  color: #bbb;
  position: absolute;
  left: 25px;
  z-index: 4;
}

.arrow-up {
  top: -10px;
}

.arrow-down {
  bottom: 0px;
}

.abs-depth {
  position: relative;
}

.abs-depth-value {
  color: white;
  position: absolute;
  font-size: .8em;
  padding: 2px 3px;
  top: 0;
  left: -10px;
  padding-bottom: 1px;
  line-height: 15px;
  background-color: #888;
}

.abs-depth-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #666;
}

.button-layer-options {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  opacity: .65;
  transition: all .5s linear;
}

.button-layer-options:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  opacity: 1;
}

.x-axis {
  display: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 25px;
  background-color: black;
}