html, body {
  height: 100%;
}

.page-header {
  
}

.site-logo {
  margin-right: 2.5em;
}

.page-content {
  background-color: #eee;
}

.page-content section {
  background-color: white;
}

.new-site {
  margin-bottom: 10px
}

.page-title h1, .drill-holes-table h1 {
  font-size: 40px;
  font-weight: 900;
  padding: 10px;
}

.layers-log container {
  position: relative;
}

.hidden {
  display: none;
}
