html, body {
  height: 100%;
}

.page-header {
  /*margin:20px;*/
}

.site-logo {
  margin-right: 2.5em;
}

.page-content {
  background-color: #eee;
}

.page-body {
  background: url('/assets/bg-fade.jpg') no-repeat bottom left #F9FAFC;
}

.page-content section {
  background-color: transparent;
}

.new-site {
  margin-bottom: 10px
}

.page-title h1, .drill-holes-table h1, .site_user-table h1 {
  font-size: 40px;
  font-weight: 900;
  padding: 10px;
}

.site_user-table {
  margin: 0 auto;
}

.layers-log container {
  position: relative;
}

.hidden {
  display: none;
}

.tabs li.hidden {
  display: none;
}

.underline {
  border-bottom: thin solid #333;
}

.table-wrap {
  padding: 1em;
  background-color: white;
}

.highcharts-container {

}

.section + .section {
   border-top: none;
}

.sites-columns, .drill-holes-table {
  padding-bottom: 5em;
}

.footer-logo {
  margin-bottom: 2em;
}

#tagline {
  height: 150px;
  background-color: white;
  margin-bottom: 1em;
  border-bottom: thin solid #eee;
  margin-bottom: 0;
}

#tagline p {
  font-size: 2em;
  font-weight: 100;
  padding-top: 1.1em;
}

.hero.is-primary .subtitle  {
  background-color: rgba(255,255,255,.75);
  color: #3D5D90;
  padding: .25em 1em;
  margin-top: 2em;
}

@media screen and (min-width: 980px) {
  .section {
      border-top: 0;
      padding: 10px 0;
  }
}

.site-overview-header h1 {
  position: absolute;
  display: inline-block;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  top: 11px;
  padding: 8px 18px;
  font-weight: 700;
}

.notification{
  border-radius:0px;
  right:10px;
  height:40px;
  padding: 10px;
  top:0px;
}
.nav-icon{
   padding-top:0px;
   padding-right:10px;
   padding-bottom:0px;
   padding-left:0px;
}
.flash{
 position: fixed;
 max-width:600px;
 top:20px;
 right:20px;
 height:40px;
}
