.map {
}

#geo-search-map {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}
#markers-map {
  width: 100%;
  height: 400px;
}
.static-map {
}

@media screen and (min-width: 769px) {
  #geo-search-map {
    width: 900px;
  }
  #markers-map {
    width: 960px;
  }
}