#section-container{
    padding-top:0px;
    background-color:white;
}


#login{
  padding-top:40px;
}

#landing{
  margin-bottom:100px;
}

#features{
  margin-bottom:130px;
}

.message-body{
  font-size:1.3em;
}

h1 .title{
  font-size:200px;
}

.control{
  justify-content: center;
}


.animation{
  height:300px;
  width:400px;
  background:#FFF;
}

.column{
  align-items: center;
}

 .flash{
  position: fixed;
  max-width:600px;
  top:20px;
  right:20px;
 }

 .notification{
   margin-right:10px;
 }

 /**********ANIMATIONS**************/
 #map{
   width: 200px;
   height: 150px;
   background-image: -webkit-linear-gradient(309deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
   background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
   transform: perspective(10px) rotateX(1deg);
   margin: 50px;
 }

 @keyframes pinDrop1 {
     from {top:0px; opacity: 0;}
     to {top: 100px; opacity:1;}
 }
 @keyframes pinDrop2 {
     from {top:0px; opacity: 0;}
     to {top: 150px; opacity:1;}
 }
 @keyframes pinDrop3 {
     from {top:0px; opacity: 0;}
     to {top: 125px; opacity:1;}
 }

 /*Taken from http://codepen.io/joshnh/pen/shHbJ*/
 .pin1{
   left:100px;
   -webkit-animation-delay: 0.25s; /* Chrome, Safari, Opera */
   animation-delay: 0.25s;
   animation-name: pinDrop1;
   visibility: visible !important;
 }

 .pin2{
   left:150px;
   animation-name: pinDrop2;
   -webkit-animation-delay: 0.25s; /* Chrome, Safari, Opera */
   animation-delay: 0.25s;
   visibility: visible !important;
 }

 .pin3{
   left:200px;
   animation-name: pinDrop3;
   -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
   animation-delay: 0.5s;
   visibility: visible !important;
 }

 .pin {
   background-color: #000;
   background-image: #000; linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
   display: block;
   height: 2em;
   margin: -1em -.05em;
   position: absolute;
   top: 0;
   width: .1em;
   opacity:0;
   z-index:10;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   visibility:hidden;
 }

 .pin:after {
   background-color: #AAA;
   background-image: -webkit-linear-gradient(309deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
   background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
   border-radius: 50%;
   box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
               inset .2em .2em .2em hsla(0,0%,100%,.2),
               inset -.2em -.2em .2em hsla(0,0%,0%,.2),
               1.5em 1.25em .25em hsla(0,0%,0%,.15);
   content: '';
   height: .8em;
   left: -.35em;
   position: absolute;
   top: -.65em;
   width: .8em;
 }
 .pin:before {
   background-color: hsla(0,0%,0%,.1);
   box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
   content: '';
   height: 1.5em;
   left: 0;
   position: absolute;
   top: .5em;
   transform: rotate(57.5deg);
   transform-origin: 50% 100%;
   width: .1em;
 }
/*BAR GRAPH*/

#graph{
  justify-content:center;
  color:#444;
  height:300px;
  padding:50px;
}

#xAxis{
  width: 3px;
  height: 200px;
  background:white;
}
#yAxis{
  height: 3px;
  width: 200px;
  background:white;
  z-index:999;
}
.bar{
  display: inline-block;
  position: relative;
  width: 30px;
  background-image: -webkit-linear-gradient(309deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
  background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%);
  top:0;
  margin:0 0px 0 15px;
  transition: all 0.75s linear;
  box-shadow: 5px 5px 1px #555;
}
#bar1{
  height:45px;
}
#bar2{
  height:85px;
}
#bar3{
  height:115px;
}
#bar4{
height:175px;
}

#barContainer{
  margin-left:15px;
}
#mask{
  z-index:999;
  background:#FFF;
  height:200px;
  width:200px;
  position:absolute;
}
.animate-bar{
  transform: translateY(-185px);
}
