@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic);

body {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-top: 1em;
}

.title {
  padding-top: .5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.is-centered {
  text-align: center;
}

.page-header {
  padding-bottom: 2em;
  border-bottom: thin solid #eee;
}

.page-header h1.title {
  margin-bottom: 0;
}

.heading {
  margin-bottom: 0;
}

.site-footer strong {
  color: white;
}

strong {
  color: #333;
}

.feature-description {
  font-size: 1.65em;
  color: #3D5D90;;
}