<footer class="site-footer">

  <div class="container">

    <div class="columns columns-footer">

      <div class="column is-third">
        <nav class="footer-nav">
          <ul>
            <li>All Sites</li>
            <li>Logout</li>
          </ul>
        </nav>
      </div>

      <div class="column">  
        <h1 class='footer-title'>Syncline</h1>   
        <p>A tool aimed at geotechnical engineers to streamline the process of collecting, reviewing and approving site investigation information.</p>
      </div>

    </div>

  </div>

</footer>