<footer class="footer site-footer">
  <div class="container">
    <div class="content is-centered">
      <div class="container">
        <p class=footer-text>
          A tool aimed at geotechnical engineers to streamline the process of collecting, reviewing and approving site investigation information.
        </p>
        <p class=footer-text>
          Built with Rails, JS, HTML5, CSS3, JQuery, and Mapbox by:
        </p>

        <div class="container is-flex">
          <a class="button" href="https://github.com/joelkbennett">
            <i class="fa fa-github"></i>
            joelkbennett
          </a>
          <a class="button" href="https://github.com/PrabhBrar">
            <i class="fa fa-github"></i>
            PrabhBrar
          </a>
          <a class="button" href="https://github.com/quicklikerabbit">
            <i class="fa fa-github"></i>
            quicklikerabbit
          </a>
          <a class="button" href= "https://github.com/scottcaldwell">
            <i class="fa fa-github"></i>
            scottcaldwell
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
