<header class='site-header'>

  <!-- Main container -->
  <nav class="navbar">
    <!-- Left side -->
    <div class="navbar-left">
      
      <div class="navbar-item">
        <h1 class="site-title">Syncline</h1>
      </div>
      <div class="navbar-item">
        <%= link_to "All Sites", sites_path, :class => "button is-primary" %>
        <a class="button is-primary">Add Site</a>
      </div>

    </div>

    <!-- Right side -->
    <div class="navbar-right">
      <p class="navbar-item"><a href="#">Hey, Username</a></p>
      <p class="navbar-item"><a href="#">Logout</a></p>
    </div>
  </nav>

</header>